[submodule "src/UtinyRipper"]
	path = src/UtinyRipper
	url = https://github.com/spacehamster/UtinyRipper.git
[submodule "src/HLSLCrossCompilerFork"]
	path = src/HLSLCrossCompilerFork
	url = https://github.com/spacehamster/HLSLCrossCompilerFork.git
[submodule "src/HLSLccWrapper"]
	path = src/HLSLccWrapper
	url = https://github.com/spacehamster/HLSLccWrapper.git
[submodule "src/HLSLDecompiler"]
	path = src/HLSLDecompiler
	url = https://github.com/spacehamster/HLSLDecompiler.git
