<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.12.0" targetFramework="net40" />
  <package id="NUnit3TestAdapter" version="3.17.0" targetFramework="net472" />
  <package id="SharpDX" version="4.2.0" targetFramework="net40" />
  <package id="SharpDX.D3DCompiler" version="4.2.0" targetFramework="net40" />
  <package id="SharpDX.Direct3D10" version="4.2.0" targetFramework="net40" />
  <package id="SharpDX.Direct3D11" version="4.2.0" targetFramework="net40" />
  <package id="SharpDX.Direct3D11.Effects" version="4.2.0" targetFramework="net40" />
  <package id="SharpDX.Direct3D9" version="4.2.0" targetFramework="net40" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net40" />
</packages>